@page
@model JurayKV.UI.Areas.KvMain.Pages.PaymentCategory.VariationData.InfoModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">VARITION DETAILS</h3>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.Name)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.Code)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.Code)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.Amount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.Amount)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.Active)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.Active)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.CategoryVariation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.CategoryVariation.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.BillGateway)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.CategoryVariation.BillGateway)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Variation.Tier)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Variation.CategoryVariation.Tier)
                    </dd>
                </dl>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a class="btn btn-warning" asp-page="./Update" asp-route-id="@Model.Variation.Id">Update</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
