@page
@model JurayKV.UI.Areas.KvMain.Pages.ITransactions.InfoModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Transaction DETAILS</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <dl class="row">
                   
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.Fullname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.Fullname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.UniqueReference)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.UniqueReference)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.OptionalNote)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.OptionalNote)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.Amount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.Amount)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.CreatedAtUtc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.CreatedAtUtc)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.TransactionType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.TransactionType)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.Status)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.TransactionReference)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.TransactionReference)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.Description)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTransaction.TrackCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTransaction.TrackCode)
                    </dd>

                </dl>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a class="btn btn-warning" asp-page="./Update" asp-route-id="@Model.UpdateTransaction.Id">Update</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
