@page
@model JurayKV.UI.Areas.KvMain.Pages.ICompanys.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">COMPANY</h3>


        <a asp-page="./Add" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Name
                        </th>

                        <th>Date </th>

                        <th>Amount Per Point </th>
                        <th> </th>

                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.Companys)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="/IUsers/Info" asp-route-id="@item.UserId">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>

                            <td>
                                @item.CreatedAtUtc.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.AmountPerPoint
                            </td>
                            <td>
                                <div class="btn-group">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Info" asp-route-id="@item.Id">Details</a>
                                            <a class="dropdown-item" asp-page="./Update" asp-route-id="@item.Id">Update</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
