<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Koboview - Unlock Earnings by Sharing - Koboview Makes It Happen (@ViewData["Title"])</title>
    <link rel="shortcut icon" href="~/img/Koboview-Icon.png" type="image/x-icon" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/mxm/css/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="~/mxm/css/font-awesome.css">

    <!-- Icomoon -->
    <link rel="stylesheet" type="text/css" href="~/mxm/css/icomoon.css">

    <!-- Slider -->
    <link rel="stylesheet" type="text/css" href="~/mxm/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/mxm/css/slider.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/mxm/css/animate.css">

    <!-- Color Switcher -->
    <link rel="stylesheet" type="text/css" href="~/mxm/css/switcher.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/mxm/css/owl.carousel.css">

    <!-- Main Styles -->
    <link rel="stylesheet" type="text/css" href="~/mxm/css/default.css">
    <link rel="stylesheet" type="text/css" href="~/mxm/css/styles.css" id="colors">
    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <meta property="og:site_name" content="@ViewData["Title"]">
    <meta property="og:title" content="@ViewData["PageName"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" itemprop="image" content="@ViewData["Image"]">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="@DateTime.UtcNow.AddHours(1)" />
    <link href="~/Layout/mistro/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CQ6Z1QGM21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CQ6Z1QGM21');
    </script>

    <style>
        .section-block-grey {
            padding: 20px 0px 20px 0px;
            background-color: #f9f9f9;
        }

        .feature-box h4 {
            color: #111;
            font-size: 18px;
            font-weight: 500;
            line-height: 100%;
            margin: 5px 0px;
        }

        .feature-box p {
            color: #665a5a;
            font-size: 14px;
            font-weight: 500;
            line-height: 130%;
        }

        .feature-flex-icon i {
            background-image: linear-gradient(120deg, rgb(5 1 184) 0%, #0501b8 100%);
        }

        .section-block {
            padding: 10px 0px 10px 0px;
            background-color: #fff;
        }

        .howitworks .feature-box-long h3 {
            font-size: 19px;
            font-weight: 500;
            color: #111;
            margin: 5px 0px 3px 0px;
        }

        .howitworks h3, .howitworks h6, .howitworks p, .howitworks li {
            color: #000000;
            text-align: justify;
        }

        .howitworks .feature-box-long p {
            font-size: 15px;
            font-weight: 400;
            color: #000;
        }

        .howitworks .feature-box-long h3 {
            font-size: 29px;
            font-weight: 800;
            text-align: center;
            color: #111;
            line-height: 28px;
            margin: 5px 0px 3px 0px;
            margin-bottom: 20px;
        }

        @@media (min-width: 425px) {
            .howitworks .feature-box-long {
                height: 900px;
            }
        }

        .section-block-grey {
            padding: 20px 0px 20px 0px;
            background-color: #d9d9d9;
        }

        .md-top-x {
            margin-top: 18px;
        }
        .slider-content h2 {
            font-size: 70px;
            color: #fff;
            line-height: 1.4;
            font-weight: 600;
        }
        .slider-content h2 {
            
            color: #fff; 
        }
       
        .info-box .info-box-number {
            display: block;
            margin-top: .25rem;
            font-size: 2rem;
            font-weight: 900;
            line-height: 1;
        }
        .info-box .info-box-text, .info-box .progress-description {
            display: block;
            font-size: 1.3rem;
            overflow: hidden;
            font-weight: 900;
            text-overflow: ellipsis;
            white-space: nowrap;
        }


    </style>
    <style>
        .text-content-big p {
            font-size: 15px;
            font-weight: 400;
            color: #0a0a0a !important;
            line-height: 200%;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>


    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>

    <header>
        <nav id="navigation4" class="container navigation">
            <div class="nav-header">
                <a class="nav-brand" href="/">
                    <img src="~/img/Koboview-logo-main.png" class="main-logo" alt="logo" id="main_logo" style="max-height:70px;">
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu align-to-right">
                    <li>
                        <a asp-page="/About">About Us</a>

                    </li>

                    <li>
                        <a asp-page="/Advertise">Advertise</a>

                    </li>
                    <li>
                        <a asp-page="/Howitworks">How it Works</a>

                    </li>
                    <li>
                        <a href="#">Account</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a class="" asp-area="Auth" asp-page="/Account/Register">Register</a>

                            </li>

                            <li class="menu-item">
                                <a class="" asp-area="Auth" asp-page="/Account/Login">Login</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </nav>
    </header>
    <!-- Navbar END -->
    <!-- Slider START -->
    <!-- Slider END -->
    @RenderBody()

    <!-- Footer START -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Column 1 Start -->
                <div class="col-md-4 col-sm-6 col-12">
                    <h3>Koboview</h3>
                    <div class="mt-25">
                        <p class="mt-25">
                            Redefining Digital Advertising with Integrity and Innovation. Join us to experience advertising that respects users, enhances brands, and delivers exceptional results.


                        </p>
                        <div class="footer-social-icons mt-25">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=61554310558490"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="https://www.instagram.com/koboview1/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/KoboV55217"><i class="fab fa-x-twitter"></i></a></li>
                                <li><a href="https://wa.me/message/6SQ57ENNZMRPB1"><i class="fab fa-whatsapp"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Column 1 End -->
                <!-- Column 2 Start -->
                <div class="col-md-4 col-sm-6 col-12">
                    <h3>Quick Links</h3>
                    <ul class="footer-list">
                        <li>
                            <a asp-page="/Privacy">
                                Privacy
                                Policy
                            </a>
                        </li>
                        <li class="">
                            <a asp-page="/Termofuse">
                                Terms Of
                                Use
                            </a>
                        </li>
                        <li class="">
                            <a asp-page="/Help">
                                Help
                                Center
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Column 2 End -->
                <!-- Column 4 Start -->
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="widget">
                        <h4 class="footer-title" style="color:white;margin-bottom:10px;">Downlaod App</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" style="margin-bottom:10px;">
                                    <img src="images/asset-35.png" class="gen-playstore-logo" alt="playstore">
                                </a>
                                <a href="#">
                                    <img src="images/asset-36.png" class="gen-appstore-logo" alt="appstore">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Column 4 End -->
            </div>

            <!-- Footer Bar Start -->
            <div class="footer-bar">
                <p><span class="primary-color">Koboview</span> © 2024. All Rights Reserved.</p>
            </div>
            <!-- Footer Bar End -->
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->
    <!-- Jquery -->
    <script src="~/mxm/js/jquery.min.js"></script>

    <!--Popper JS-->
    <script src="~/mxm/js/popper.min.js"></script>

    <!--Popper JS-->
    <script src="~/mxm/js/popper.min.js"></script>

    <!-- Bootstrap JS-->
    <script src="~/mxm/js/bootstrap.min.js"></script>

    <!-- Owl Carousel-->
    <script src="~/mxm/js/owl.carousel.js"></script>

    <!-- Navbar JS -->
    <script src="~/mxm/js/navigation.js"></script>
    <script src="~/mxm/js/navigation.fixed.js"></script>

    <!-- Wow JS -->
    <script src="~/mxm/js/wow.min.js"></script>

    <!-- Countup -->
    <script src="~/mxm/js/jquery.counterup.min.js"></script>
    <script src="~/mxm/js/waypoints.min.js"></script>

    <!-- Tabs -->
    <script src="~/mxm/js/tabs.min.js"></script>

    <!-- Yotube Video Player -->
    <script src="~/mxm/js/jquery.mb.YTPlayer.min.js"></script>

    <!-- Swiper Slider -->
    <script src="~/mxm/js/swiper.min.js"></script>

    <!-- Isotop -->
    <script src="~/mxm/js/isotope.pkgd.min.js"></script>

    <!-- Switcher JS -->
    <script src="~/mxm/js/switcher.js"></script>

    <!-- Modernizr -->
    <script src="~/mxm/js/modernizr.js"></script>

    <!-- Google Map -->
    <script src="~/mxm/js/map.js"></script>

    <!-- Main JS -->
    <script src="~/mxm/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>