<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>DASHBOARD | KOBOVIEW | NO 1 ADVERTISING PLATFORM</title>
    <link rel="shortcut icon" href="~/img/Koboview-Icon.png" type="image/x-icon" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/dashboard/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" href="~/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/dashboard/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/dashboard/plugins/toastr/toastr.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/dashboard/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/colors/3.0.0/css/colors.css" integrity="sha512-JDgDKJJxVyJLwANfCzVKkY11LnbN9Br5/3LFmnoxrPPGvhhkt4YyuAwc2TVk977ffy3/Q/7FbGzu52AEJ8QctA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/dashboard/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/dashboard/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/dashboard/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/dashboard/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/dashboard/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dashboard/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->

    <link rel="stylesheet" href="~/dashboard/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/dashboard/dashbaord.css" rel="stylesheet" />
    <style>
        .card-title {
            float: left;
            font-size: 2rem;
            font-weight: 900;
            margin: 0;
        }

        .btn-group-sm > .btn, .btn-sm {
            padding: .25rem .5rem;
            font-size: 1.275rem;
            font-weight: bolder;
            line-height: 1.5;
            border-radius: .2rem;
        }

        .card-title {
            text-transform: uppercase !important;
        }

        .main-header .nav-link {
            height: 2.2rem;
            position: relative;
        }

        @@media (min-width: 1200px) {
            .col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
                font-size: 1.5rem;
            }
        }

        @@media (min-width: 992px) {
            .col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
                font-size: 1.4rem;
            }
        }
        .boxed-div {
            position: relative !important;
            border: 1px solid #eee !important;
            background: #fff !important;
            box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16) !important;
            border-radius: 5px !important;
            overflow: hidden !important;
            padding: 10px 15px !important;
            margin-bottom: 10px !important;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">



                <li class="nav-item">
                    <h3 style="font-weight:900;">KV DASHBOARD</h3>
                </li>

            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-page="/QueryPage/Index" asp-area="KvMain">
                        <i class="fas fa-search"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link" style="text-align: center; margin: 0 auto;">
                <img src="~/img/Koboview-logo-main.png" alt="Koboview Advert" class="" style=" height: 30px; text-align: center; margin: 0 auto;">
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                        <li class="nav-item">
                            <a asp-page="/Dashboard/Index" asp-area="KvMain" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p class="uppercase">
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.AdvertPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/IAdvertRequests/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Advert Request
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.PointPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/IUserAds/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Posted Adverts
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.BucketPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/IBuckets/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Bucket
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.CompanyPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/ICompanys/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Company
                                    </p>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.AdvertPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/IAds/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Adverts
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.AdvertPolicy) || User.IsInRole(JurayKV.Application.Constants.BucketPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/ImagePage/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Images
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.UsersManagerPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/IUsers/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Users
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.Transaction))
                        {
                            <li class="nav-item">
                                <a asp-page="/ITransactions/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Transactions
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a asp-page="/IWallet/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Wallet
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/IRates/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Exchange Rates
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/IPermissions/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Permission
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.Permission))
                        {
                            <li class="nav-item">
                                <a asp-page="/PaymentCategory/Category/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Variation Category
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/PaymentCategory/VariationData/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Variation
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.SliderPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/ISlider/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Sliders
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(JurayKV.Application.Constants.SuperAdminPolicy) || User.IsInRole(JurayKV.Application.Constants.AdminPolicy))
                        {
                            <li class="nav-item">
                                <a asp-page="/ISettings/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        Settings
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/IUserMessages/Index" asp-area="KvMain" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p class="uppercase">
                                        User Messages
                                    </p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-page="/IHelp/Index" asp-area="KvMain" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p class="uppercase">
                                    Help
                                </p>
                            </a>
                        </li>



                        <li class="nav-item" style="margin-bottom:70px;">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">
                                <i class="nav-icon fa fa-sign-out"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid" style="padding-top:20px;">
                    @RenderBody()

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.UtcNow.Year Koboview</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <form asp-area="Auth" id="logoutForm" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Auth" })" method="get">
    </form>


    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/dashboard/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/dashboard/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/dashboard/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/dashboard/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/dashboard/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- Select2 -->
    <script src="~/dashboard/plugins/select2/js/select2.full.min.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/dashboard/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/dashboard/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/dashboard/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dashboard/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->@*
        <script src="~/dashboard/dist/js/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- DataTables  & Plugins -->
    <script src="~/dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/dashboard/plugins/jszip/jszip.min.js"></script>
    <script src="~/dashboard/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/dashboard/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/dashboard/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/dashboard/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "responsive": true,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });

            $("#example3").DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "lengthMenu": false,
                "responsive": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>

    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });


    </script>
    <script>
        $(document).ready(function () {
            $('.product-image-thumb').on('click', function () {
                var $image_element = $(this).find('img')
                $('.product-image').prop('src', $image_element.attr('src'))
                $('.product-image-thumb.active').removeClass('active')
                $(this).addClass('active')
            })
        })
    </script>
    <script>
        // Get a reference to the <title> element
        var pageTitle = document.getElementById('page-title-j');

        // Apply uppercase style to the <title> element
        pageTitle.style.textTransform = 'uppercase';
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- SweetAlert2 -->
    <script src="~/dashboard/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/dashboard/plugins/toastr/toastr.min.js"></script>

    <!-- Select2 -->
    <script src="~/dashboard/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/dashboard/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/dashboard/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/dashboard/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/dashboard/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/dashboard/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/dashboard/plugins/dropzone/min/dropzone.min.js"></script>


    <script src="~/dashboard/dist/js/pages/dashboard.js"></script>
    @*<script src="~/dashboard/dist/js/demo.js"></script>*@


    @if (TempData["success"] != null)
    {
        <script>

            toastr.success('@TempData["success"]')
        </script>
    }

    @if (TempData["error"] != null)
    {
        <script>

            toastr.success('@TempData["error"]')
        </script>
    }
    @if (TempData["info"] != null)
    {
        <script>

            toastr.success('@TempData["info"]')
        </script>
    }

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

    </script>
    <script>
        function myUppercase() {
            var x = document.getElementById("upper");
            x.value = x.value.toUpperCase();
        }
    </script>

</body>
</html>
