@page
@model JurayKV.UI.Areas.KvMain.Pages.IRates.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">KV EXCHANGE RATES</h3>


        <a asp-page="./Add" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>

                        <th>
                            Amount
                        </th>

                        <th> </th>

                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.ExchangeRates)
                    {
                        <tr>
                             <td>
                                 @item.CreatedAtUtc
                             </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </a>
                            </td>

                            



                            <td>
                                <div class="btn-group">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Info" asp-route-id="@item.Id">Details</a>
                                            <a class="dropdown-item" asp-page="./Update" asp-route-id="@item.Id">Update</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>