@page
@model JurayKV.UI.Areas.KvMain.Pages.IRates.InfoModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">KV ADVERT DETAILS</h3>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateExchangeRate.Amount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateExchangeRate.Amount)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateExchangeRate.CreatedAtUtc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateExchangeRate.CreatedAtUtc)
                    </dd>
                </dl>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a class="btn btn-warning" asp-page="./Update" asp-route-id="@Model.UpdateExchangeRate.Id">Update</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
